$dark-nav-color: #2C3840;

.bg-facebook {
    background: #3b5998;
}

.bg-twitter {
    background: #1da1f2;
}

.bg-whatsapp {
    background: #4dc247;
}

.bg-email {
    background: #9a9a9a;
}

.text-muted {
    opacity: 0.6;
}

.und-event-text {
    color: #FFAD29;
}
